---
import "../styles/global.css";

// Sidebar should always be present
import { AppSidebar } from "../components/app-sidebar";

// Cart stuff
import { CartSheet } from "../components/cart/cart-sheet";

import MainContent from "../components/MainContent.astro";
import { SidebarProvider } from "../components/ui/sidebar";
import { isCartOpen } from "../contexts/cart-sheet-state";
import { useStore } from "@nanostores/react";


const $isCartOpen = useStore(isCartOpen)
const onCartClick = () => {
  isCartOpen.set(!true);
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Shopping Website</title>
	</head>
	<body>
		<SidebarProvider>
		<AppSidebar
			onCartClick={onCartClick}
		/>
		{/* Cart Sheet */}
		<CartSheet />
		{/* Main content area */}
		<MainContent>
			<slot />
		</MainContent>
		</SidebarProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>